/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/public/assets/dummy
/resources/assets
/nova/node_modules
/nova/vendor
/nova-components/*/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant