/* ----- fonts ----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$pf: "Poppins", sans-serif;
$sf: "Courier Prime", monospace;

// $main-color: #FFC107;
$main-color: theme('colors.main-color');

/*
$main-color: #FFC107
$main-color: #f44336;
$main-color: #4CAF50;
$main-color: #64B5F6;
*/

/*
	900: {
		25,25,35,
		15,15,20,
	},
	800: {
		45,45,58,
		43,43,53,
		37,37,50,
		32,32,42,
		30,30,40
	},
	100: 250,250,252
*/

// $shadow-1: 0 3px 8px 0 rgba(15,15,20,.2);
// $shadow-2: 0 1px 4px 0 rgba(15,15,20,.1);
$shadow-1: 0 3px 8px 0 theme('colors.shadow-light');
$shadow-2: 0 1px 4px 0 theme('colors.shadow-lighter');

$tr-lg: 0.55s ease-in-out;
$tr-md: 0.4s ease-in-out;
$tr-sm: 0.2s ease-in-out;

// $text-neon: 0 0 3px rgba(250,250,252,.4);
$text-neon: 0 0 3px theme('colors.text-neon');

// $card-color: linear-gradient(159deg, rgba(45,45,58,1) 0%, rgba(43,43,53,1) 100%);
// $card-color-light: linear-gradient(159deg, rgba(45,45,58,.98) 0%, rgba(43,43,53,.98) 100%);
// $card-color-s-light: linear-gradient(159deg, rgba(45,45,58,.88) 0%, rgba(43,43,53,.88) 100%);
$card-color: linear-gradient(159deg, theme('colors.card-color') 0%, theme('colors.card-color-secondary') 100%);
$card-color-light: linear-gradient(159deg, theme('colors.card-color-light') 0%, theme('colors.card-color-secondary-light') 100%);
$card-color-s-light: linear-gradient(159deg, theme('colors.card-color-lighter') 0%, theme('colors.card-color-secondary-lighter') 100%);

// $info-bar-1-color: rgba(32,32,42,1);
// $info-bar-1-color-light: rgba(32,32,42,.98);
// $info-bar-1-color-s-light: rgba(32,32,42,.88);
$info-bar-1-color: theme('colors.info-bar-primary');
$info-bar-1-color-light: theme('colors.info-bar-primary-light');
$info-bar-1-color-s-light: theme('colors.info-bar-primary-lighter');

// $info-bar-2-color: linear-gradient(159deg, rgba(37,37,50,1) 0%, rgba(35,35,45,1) 100%);
// $info-bar-2-color-light: linear-gradient(159deg, rgba(37,37,50,.98) 0%, rgba(35,35,45,.98) 100%);
// $info-bar-2-color-s-light: linear-gradient(159deg, rgba(37,37,50,.88) 0%, rgba(35,35,45,.88) 100%);
$info-bar-2-color: linear-gradient(159deg, theme('colors.info-bar-secondary') 0%, theme('colors.info-bar-secondary') 100%);
$info-bar-2-color-light: linear-gradient(159deg, theme('colors.info-bar-secondary-light') 0%, theme('colors.info-bar-secondary-light') 100%);
$info-bar-2-color-s-light: linear-gradient(159deg, theme('colors.info-bar-secondary-lighter') 0%, theme('colors.info-bar-secondary-lighter') 100%);

// $content-color: rgba(30,30,40,1);
// $content-color-light: rgba(30,30,40,.98);
// $content-color-s-light: rgba(30,30,40,.88);
$content-color: theme('colors.content-color');
$content-color-light: theme('colors.content-color-light');
$content-color-s-light: theme('colors.content-color-lighter');

// $deep-color: rgba(25,25,35,1);
// $deep-color-light: rgba(25,25,35,.98);
// $deep-color-s-light: rgba(25,25,35,.88);
$deep-color: theme('colors.deep-color');
$deep-color-light: theme('colors.deep-color-light');
$deep-color-s-light: theme('colors.deep-color-lighter');

// $text-color-1: rgba(250,250,252,1);
// $text-color-2: rgba(140,140,142,1);
// $text-color-3: rgba(100,100,102,1);
$text-color-1: theme('colors.text-color');
$text-color-2: theme('colors.text-color-light');
$text-color-3: theme('colors.text-color-lighter');

// $top-bg-gradient: linear-gradient(180deg, rgba(30,30,40,.93) 0%, rgba(30,30,40,.96) 70%, rgba(30,30,40,.99) 80%, rgba(30,30,40,1) 100%)
$top-bg-gradient: linear-gradient(180deg, theme('colors.top-bg-gradient.lighter') 0%, theme('colors.top-bg-gradient.light') 70%, theme('colors.top-bg-gradient.dark') 80%, theme('colors.top-bg-gradient.darker') 100%)
